.home-container {
  position: relative;
}

.centered {
  position: absolute;
  bottom: 200px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}
